bcrypt==5.0.0
cffi==2.0.0
cryptography==46.0.2
GPUtil==1.4.0
greenlet==3.2.4
mariadb==1.1.14
numpy==2.3.3
packaging==25.0
pandas==2.3.3
pillow==10.4.0
psutil==7.1.0
pycparser==2.23
PyMySQL==1.1.2
python-dateutil==2.9.0.post0
pytz==2025.2
six==1.17.0
SQLAlchemy==2.0.43
ttkbootstrap==1.14.4
typing_extensions==4.15.0
tzdata==2025.2
